@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Outfit&display=swap");
/* 
///// COLORS /////
*/
:root {
  --body-color: #fff;
  --first-color: #39ba8b;
  --first-color-second: #ff792e;
  --title-color: #000000;
  --text-color: #505050;
  --bg-color: #ffefe5;
  --bg-color-2: #005a86;
}

/* 
///// FONT WEIGHT /////
*/
:root {
  --font-bold: bold;
  --font-semi-bold: 500;
}

/* 
///// TRANSITION /////
*/
:root {
  --transition: all 0.3s linear;
}
/* 
///// BASE /////
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  background-color: var(--body-font);
  color: var(--text-color);
  font-weight: bold;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

h2 {
  font-size: 20px;
  color: var(--title-color);
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 20px;
  color: var(--first-color);
  font-family: "Outfit", sans-serif;
}

p {
  line-height: 26px;
}

button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  width: 100%;
  display: block;
}

/* ///// MAIN CSS ///// */

/* HAMBURGER */
#js-btn,
.cross {
  cursor: pointer;
}

#js-nav.show {
  right: 0;
  display: block;
}

/* NAV MENU */
.nav-menu {
  /* none */
  position: fixed;
  z-index: 15;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: var(--bg-color);
  padding-top: 20px;
  right: -100%;
  transition: all 0.3s;
}

.menu-wrapper {
  position: relative;
  height: 100%;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.icons {
  display: flex;
  align-items: center;
}

.menu-header .logo {
  width: 153px;
  height: 40px;
}

.menu-header .Qbtn {
  margin-right: 25px;
}

.Qbtn {
  width: 40px;
}

.menu-inner {
  width: 80%;
  margin: 40px auto 0 auto;
}

.menu-lists {
  display: grid;
  gap: 30px;
  font-size: 16px;
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 70px;
}

.menu-inner .contact-btn {
  font-size: 16px;
  font-weight: var(--font-bold);
  color: #fff;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--first-color-second);
  padding: 15px 0;
  border-radius: 100px;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #ff792e;
  padding: 15px;
}

/* HEADER */

.header {
  width: 100%;
  height: 80px;
  padding: 20px;
  background-color: #fff;
  transition: all 0.3s;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner .nav-lists {
  display: none;
}

.header-inner .icons .Qbtn {
  margin-right: 20px;
}

@media screen and (min-width: 910px) {
  .header {
    height: 64px;
    padding: 20px 10px 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header-inner .nav-lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
  }

  .header-inner .nav-lists a {
    font-size: 14px;
    margin-right: 30px;
  }

  .header-inner .nav-lists a .contact-btn {
    background-color: var(--first-color);
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    margin-right: 0;
  }

  .header-inner .icons {
    display: none;
  }
}

@media screen and (min-width: 1020px) {
  .header-inner .nav-lists a {
    margin-right: 40px;
  }
}

/* TOPVIDUAL */
.top-vidual {
  height: 650px;
  background-image: url(../img/top-vidual.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.top-container .inner-content {
  display: grid;
  gap: 40px;
}

.top-container .inner-content .main-texts h1 {
  background-color: #fff;
  padding: 10px 20px;
  width: fit-content;
  font-size: 26px;
  color: #000000;
}

.top-container .inner-content .main-texts h1:nth-child(2) {
  font-size: 30px;
  color: var(--first-color-second);
  margin-top: 20px;
}

.top-container .inner-content .sub-text {
  width: 85%;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
}

.top-container .inner-content .contact-btn {
  font-size: 16px;
  font-weight: var(--font-bold);
  color: #fff;
  width: 250px;
  margin: 0 auto 50px auto;
  text-align: center;
  background-color: var(--first-color-second);
  padding: 15px 0;
  border-radius: 100px;
}
